@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Parkinsans:wght@300..800&family=Pixelify+Sans:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@import url('/fonts/Darling.ttf');
@font-face {
    font-family: 'Darling';
    src: url('/fonts/Darling.ttf') format('truetype');
}

html, body {
    cursor: url('../img/cursor.gif'), auto;
}

a {
  cursor: url('../img/cursor.gif'), auto;
}

body {
    background-color: #f5c6e3;
    background-image: url(../img/background.png);
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 1000px;
    font-size: 0;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-x: hidden;
    scrollbar-color: #f255fa #e6e6e6;
    scrollbar-width: thin;
}

header {
    background: linear-gradient(105deg, rgba(255,164,214,1) 10%, rgba(255,201,139,1) 30%, rgba(255,255,159,1) 40%, rgba(214,255,197,1) 50%, rgba(207,255,213,1) 60%, rgba(207,255,238,1) 70%, rgba(207,255,238,1) 80%, rgba(208,220,235,1) 90%, rgba(229,196,224,1) 100%);
    box-shadow: 0px 11px 5px #FFFFDD99 inset, 0px -5px 10px #FFFFDD99 inset;
    width: 1000px;
    text-align: center;
    margin: 0px 0px 1px 0px;
    border: 1px solid #fff;
    outline: 1px solid #585858;
}

h1 {
    text-shadow: #585858 1px 0px, #585858 -1px 0px, #585858 0px 1px, #585858 0px -1px, #f499d3 5px 5px 5px;
    color: #fff;
    font-family: 'Darling', serif;
    font-size: 50px;
    margin: 0px 0px 0px 0px;
}

#title {
    text-decoration: none;
}

h1.gradient {
    background-color: #fff;
    background: linear-gradient(to bottom, #f2f2f2 0%,#f7f7b4 55%,#ffc6f6 56%,#ffc6f6 56%,#d7a8ff 70%,#9ff7fc 80%,#9ff7fc 80%,#f2f2f2 100%);
    background-clip: text;
    color: transparent;
    font-size: 50px;
    text-shadow: none;
    font-weight: 900;
}

h3 {
    font-size: 20px;
    text-shadow: #585858 1px 0px, #585858 -1px 0px, #585858 0px 1px, #585858 0px -1px, #f499d3 5px 5px 5px;
    color: #f499d3;
    font-family: 'Coming Soon';
}

a:hover {
    color: #f499d3;
    text-shadow: #fff 2px 0px, #fff -2px 0px, #fff 0px 2px, #fff 0px -2px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #f499d3;
    text-shadow: #fff 2px 0px, #fff -2px 0px, #fff 0px 2px, #fff 0px -2px;
}

nav ul {
    margin: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0px 50px 0px 50px;
}

nav {
    width: 1000px;
    height: 20px;
    text-align: center;
    text-transform: lowercase;
    background: linear-gradient(180deg, #FFF 30%, #c3d7de 60%);
    background-color: #c3d7de;
    margin: 0px 0px 1px 0px;
    padding: 5px 0px 5px 0px;
    border: 1px solid #fff;
    outline: 1px solid #585858;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Coming Soon';
    font-weight: 600;
    font-size: 16px;
    text-shadow: #585858 1px 0px, #585858 -1px 0px, #585858 0px 1px, #585858 0px -1px;
}

#lowernav {
    width: 1000px;
    height: 10px;
    text-align: center;
    text-transform: lowercase;
    background: linear-gradient(180deg, #FFF 30%, #fff8c9 60%);
    background-color: #fff8c9;
    margin: 0px 0px 1px 0px;
    padding: 5px 0px 5px 0px;
    border: 1px solid #fff;
    outline: 1px solid #585858;
    color: #585858;
}

main {
    width: 100%;
    display: flex;
    margin: 0px 0px 1px 0px;
}

aside h2 {
    margin: 0;
    padding: 0px 0px 0px 5px;
    font-family: 'Sour Gummy', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: lowercase;
    text-shadow: #fff 2px 0px, #fff -2px 0px, #fff 0px 2px, #fff 0px -2px;
    background-color: #bcefe0;
}

p {
    text-align: justify;
}

ul {
    list-style-image: url('http://blog.prismatic.pink/wp-content/uploads/2024/10/icon-gif.gif');
    padding: 0px 0px 0px 20px;
    text-align: justify;
}

aside {
    width: 200px;
    height: inherit;
    border: 1px solid #fff;
    outline: 1px solid #585858;
    margin: 0;
    float: left;
    color: #585858;
    padding: 0;
    background-color: rgb(245, 180, 193, 0.5);
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Georgia';
}

aside ul {
    margin: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

aside li {
    display: flex;
    background: linear-gradient(180deg, #FDDCFF 30%, #f5b4c1 60%);
    border: 1px solid #fff;
    font-family: 'Sour Gummy', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: lowercase;
    list-style-type: none;
}

aside a {
    color: #fff;
    text-shadow: #585858 2px 1px 1px;
    text-decoration: none;
}

aside a:hover {
    color: #f499d3;
    text-shadow: #fff 2px 0px, #fff -2px 0px, #fff 0px 2px, #fff 0px -2px;
}

aside li:hover {
    background: linear-gradient(180deg, #FDDCFF 30%, #99f4d5 60%);
}

#rainbow {
    width: 100%;
    text-align: center;
    text-transform: lowercase;
    background: url('http://blog.prismatic.pink/wp-content/uploads/2024/11/bg-rainbow.gif');
    background-color: #b0e6ac;
    color: #585858;
    margin: 0;
    font-family: 'Pixelify Sans';
    font-size: 10px;
    height: 28px;
}

section {
    width: 600px;
    height: inherit;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.5);
    color: #585858;
    margin: 0;
    padding: 5px;
    border: 1px solid #fff;
    outline: 1px solid #585858;
    float: right;
    font-family: 'Georgia';
    letter-spacing: 1px;
    font-size: 14px;
    position: relative;
}

section a {
    color: #f255fa;
}

.home-elements {
    display: flex;
    justify-content: flex-end; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;

}

.home-subtitles {
    margin: 0;
    padding: 0px 0px 0px 5px;
    font-family: 'Sour Gummy', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: lowercase;
    text-shadow: #fff 2px 0px, #fff -2px 0px, #fff 0px 2px, #fff 0px -2px;
    background-color: #bcefe0;
    color: #585858;
}

.home-boxes {
    margin:0;
    height: 100%;
    width: 50%;
    border: 1px solid #fff;
    position: relative;
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 180, 193, 0.5);
}

.home-scrollbar {
    overflow-y: scroll;
    scrollbar-color: #f255fa #e6e6e6;
    scrollbar-width: thin;
    height: 100%;
    box-sizing: border-box;
}

.affies-banners {
    width: 100%;
    height: px;
    overflow: hidden;
    position: absolute;
    bottom: 150px;
    left: 0;
    border: 1px solid #fff, 0px solid #fff, 1px solid #fff, 0px solid #fff;
    box-shadow: 0 -1px 0 0 #585858, 0 1px 0 0 #585858;
    background-color: rgb(245, 180, 193, 0.5);
}

.affies-scrolling {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 15s linear infinite;
}

.affies-banners:hover .affies-scrolling {
  animation-play-state: paused;
}

.scrollbar {
    text-align: center;
    width: 100%;
    low-x: hidden;
    overflow-y: scroll;
    scrollbar-color: #f255fa #e6e6e6;
    scrollbar-width: thin;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Georgia';
}

#buttons {
    width: 1000px;
    height: 31px;
    text-align: center;
    text-transform: lowercase;
    background: linear-gradient(180deg, #FFF 30%, #d8b3fa 60%);
    background-color: #d8b3fa;
    margin: 0px 0px 1px 0px;
    padding: 0;
    border: 1px solid #fff;
    box-shadow: -1px 0 0 0 #585858, 1px 0 0 0 #585858;
    color: #585858;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

#upperfooter {
    width: 1000px;
    height: 10px;
    text-align: center;
    text-transform: lowercase;
    background: linear-gradient(180deg, #FFF 30%, #fff8c9 60%);
    background-color: #fff8c9;
    margin: 0px 0px 1px 0px;
    padding: 5px 0px 5px 0px;
    border: 1px solid #fff;
    outline: 1px solid #585858;
    color: #585858;
}

#buttons:hover .marquee {
  animation-play-state: paused;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 35s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee img {
  height: 31px;
}

footer {
    width: 1000px;
    height: 20px;
    text-align: center;
    text-transform: lowercase;
    background: linear-gradient(180deg, #FFF 30%, #b0e6ac 60%);
    background-color: #b0e6ac;
    color: #585858;
    text-shadow: #f255fa 2px 2px 2px;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    font-family: 'Pixelify Sans';
    font-size: 12px;
    letter-spacing: 1px;
    border: 1px solid #fff;
    outline: 1px solid #585858;
}

#statuscafe {
    padding: .5em;
}

#statuscafe-username {
    margin-bottom: .5em;
    text-shadow: #585858 1px 0px, #585858 -1px 0px, #585858 0px 1px, #585858 0px -1px, #f499d3 5px 5px 5px;
    color: #ffffff;
    font-family: 'Sour Gummy', sans-serif;
}

#statuscafe-username a {
    margin-bottom: .5em;
    color: #585858;
    font-family: 'Sour Gummy', sans-serif;
    text-shadow: #fff 2px 0px, #fff -2px 0px, #fff 0px 2px, #fff 0px -2px;
}

#statuscafe-username a:hover {
    margin-bottom: .5em;
    color: #f499d3;
    font-family: 'Sour Gummy', sans-serif;
    text-shadow: #fff 2px 0px, #fff -2px 0px, #fff 0px 2px, #fff 0px -2px;
}

#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}


  .home-subtitles {
    margin: 0;
    padding: 0px 0px 0px 5px;
    font-family: 'Sour Gummy', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: lowercase;
    text-shadow: #fff 2px 0px, #fff -2px 0px, #fff 0px 2px, #fff 0px -2px;
    background-color: #bcefe0;
    color: #585858;
}

  #right-click {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100px;
    height: 150px;
    background-color: rgba(245, 180, 193, 0.5);
    border: 1px solid #fff;
    outline: 1px solid #585858;
    color: #585858;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Sour Gummy', cursive;
    padding: 5px;
  }

  #right-click ul {
    color: #585858;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Sour Gummy', cursive;
  }

  #right-click li {
    color: #585858;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Sour Gummy', cursive;
  }

  #right-click a {
    text-decoration: none;
    color: #585858;
    display: block;
    width: 100%;
  }

  #right-click li:hover {
    background-color: #f0f0f0;
  }
