@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: linear-gradient(rgba(244, 159, 218, 0.575), rgba(60, 149, 119, 0)), url('http://blog.prismatic.pink/wp-content/uploads/2026/01/pink-background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 1000px;
    position: relative;
}

header {
    text-align: center;
    padding: 0;
    margin: 1px solid #fff;
    outline: 1px solid #585858;
}

header a {
    text-decoration: none;
}

h1 {
    font-family: 'Sacramento', cursive;
    text-transform: lowercase;
    font-size: 5em;
    color: #eb65bc;
    text-shadow: #ffffff 3px 0px, #ffffff -3px 0px, #ffffff 0px 3px, #ffffff 0px -3px,  #f483cd 5px 3px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 110, 212, 0.362), rgba(255, 255, 255, 0.382)), url('http://blog.prismatic.pink/wp-content/uploads/2026/01/tile-background-hearts.gif');
    text-align: center;
    width: inherit;
}

h1 a:hover {
    background: none;
}

h2 {
    font-family: 'Sour Gummy', sans-serif;
    text-transform: lowercase;
    font-size: 20px;
    color: #eb65bc;
    text-shadow: #ffffff 2px 0px, #ffffff -2px 0px, #ffffff 0px 2px, #ffffff 0px -2px;
    letter-spacing: 2px; 
}

section {
    background-color: #ffffffcd;
    border: 1px solid #ffffff;
    outline: 1px solid #585858;
    color: #585858;
    font-family: 'Georgia';
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 1px;
    padding: 0px 30px 30px 30px;
}

img {
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #eb65bc;
}

a:hover {
    background-color: #fff;
}

b, strong {
    color: #df8ed0;
    text-shadow: #fff 1px 0px, #fff -1px 0px, #fff 0px 1px, #fff 0px -1px;
}

p {
    line-height: 20px;
    text-align: justify;
}

ul {
    line-height: 20px;
    text-align: justify;
}

table {
    border-collapse: separate;
    border-spacing: 5px;
    text-align: left;
    width: 100%;
}

th {
    border: 1px solid #fff;
    outline: 1px solid #585858;
    background-color: #d583b3a7;
    color: #fff;
    padding: 0;
    text-transform: lowercase;
    text-align: center;
}

td {
    border: 1px solid #fff;
    outline: 1px solid #585858;
    padding: 5px;
}

footer {
    text-align: center;
    font-family: 'Sour Gummy', sans-serif;
    text-transform: lowercase;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    text-shadow: #585858 1px 0px, #585858 -1px 0px, #585858 0px 1px, #585858 0px -1px;
}

footer a {
    text-decoration: none;
    text-shadow: #ffffff 2px 0px, #ffffff -2px 0px, #ffffff 0px 2px, #ffffff 0px -2px;
}

@media (max-width: 767px) {
  body {
    width: 95%;
    max-width: 100vw;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  h1 {
    font-size: 3em;
  }

  section {
    padding: 0px 20px 20px 20px;
  }

  table {
    width: 100%;
    margin: 0px 0px 0px -13px;
  }

  .mobile-delete {
    display: none;
  }
}