@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

body {
    background-color: #b1b5d3;
    background-image: url('https://i.ibb.co/hFscZc4F/background.png');
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    color: #454545;
    font-size: 0.8em;
}

* {
    scrollbar-color: #9a91db #e6e6e600;
    scrollbar-width: thin;
}

#site {
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    margin: 0.1em;
    padding: 0;
}

header h1 {
    font-size: 6em;
    color: #fff;
    text-shadow: 2px 2px #bb7dbe;
    font-family: 'Oooh Baby', cursive;
    margin: 0;
    padding: 0;
}

nav {
    border: 1px dashed #fff;
    background-color: #7d85be;
    color: white;
    margin: 0.1em;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    background-color: #e7abe1;
}

nav ul {
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-transform: uppercase;
}

nav li {
    display: block;
}

main {
    display: flex;
}

aside {
    width: 30%;
    border: 1px dashed #fff;
    margin: 0.1em;
    padding: 0.5em;
    background-color: #ffffffa2;
}

aside ul {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
}

aside li {
    background-color: #7d85be;
    margin-bottom: 2px;
}

aside li a {
    color: white;
    text-decoration: none;
    display: block;
}

aside a:hover {
    background-color: #e7abe1;
}

aside h2 {
    background-color: #ad98d8;
    text-transform: lowercase;
    color: #fff;
    text-shadow: 1px 1px #454545;
    font-size: 1em;
    border-bottom: #f2bfe8 3px solid;
}

#link-me {
    text-align: center;
}

section {
    width: 70%;
    border: 1px dashed #fff;
    margin: 0.1em;
    padding: 0.5em;
    background-color: #ffffffa2;
}

h2 {
    background-color: #ad98d8;
    text-transform: lowercase;
    color: #fff;
    text-shadow: 1px 1px #000;
    font-size: 1em;
    border-bottom: #f2bfe8 3px solid;
}

h3 {
    text-align: right;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    letter-spacing: 3px;
    color: #808080;
    border-bottom: 2px dotted #e7abe1;
}

.left-picture {
    float: left;
    margin: 0.6em 0.6em 0 0;
}

.right-picture {
    float: right;
    margin: 0.6em 0 0 0.6em;
}

p {
    text-align: justify;
}

b, strong {
    color: #3866d8;
    font-weight: 900;
}

i, em {
    color: #939393;
}

s {
    color: #47a6b5;
}

a {
    color: #cb7dc4;
    text-decoration: underline 2px dotted;
}

a:hover {
    color: #7a7eed;
}

ul {
    list-style-type: "♡ ";
}

#home-elements {
    display: flex;
    width: 100%;
}

#updates {
    width: 50%;
    margin: 0;
}

#to-do {
    width: 50%;
    margin: 0;
}

.scroll {
    overflow-y: scroll;
}

textarea {
    border: 2px dotted #858585;
    background-color: #d3c0e09f;
}

footer {
    border: 1px dashed #fff;
    background-color: #7d85be;
    margin: 0.1em;
    color: white;
    text-align: center;
    padding: 1em;
}

footer strong, footer a {
    text-shadow: #fff 1px 0px, #fff -1px 0px, #fff 0px 1px, #fff 0px -1px;
    text-decoration: none;
}

@media (max-width: 767px) {

    #site {
    width: 90%;
    }

    header {
    width: 100%;
    }

    header h1 {
    font-size: 3em;
    }

    nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    }

    nav ul {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
  }
  
  nav ul li {
    width: 100%;
    text-align: center;
  }

  main {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  aside {
    width: 100%;
    order: 5;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  section {
    width: 100%;
    order: 3;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  footer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
 
}
